server:
  port: 8003

spring:
  application:
    name: user-provider

eureka:
  client:
    register-with-eureka: true #注册到Eureka的注册中心
    fetch-registry: true #获取注册实例列表
    service-url:
      defaultZone: http://eureka7001.com:7001/eureka/ #配置注册中心地址
